@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-ExtraBoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Ioskeley Mono";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/fonts/IoskeleyMono-BlackItalic.woff2") format("woff2");
}

@theme {
  --font-sans: "Ioskeley Mono", sans-serif;
  --font-mono: "Ioskeley Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --breakpoint-xs: 480px;
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

@utility bg-dots {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><circle cx="1" cy="1" r=".5"/><circle cx="3" cy="3" r=".5"/></svg>');
}

@utility bg-hatch {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="4"><path stroke="%23000" stroke-width=".5" d="m0 0 4 4Zm4 0L0 4Z"/></svg>');
}
